body {
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
color: #40514E;

}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:7s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

h1 {
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: .5;
}

h2 {
    font-family: 'Meriweather', serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Meriweather', serif;
    color: #11999E;
}
.pro  {
   text-decoration: underline; 
}

p {
    line-height: 2;
}

.top-container {
background-color: #BFFFF0;
position: relative;
padding-top: 100px;
width: 100%;
align-items: center;
}

.middle-container {
    max-width: 1400px;
    margin: 100px 0;
  
}

.pic1 {
width: 200px;
height: 200px;
}

.pic2 {
    width:  25%;
    height: 200px;
    position: relative;   
    float: left;
    margin-right: 30px;
    
}

.pic3 {
    width:  25%;
    height: 200px;
    float: right;
    margin-left: 30px;

}

.bottom-container {
    width: 100%;
    height: 120px;
    background-color: #66BFBF;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.skills {
    text-align: center;

}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.intro {
   width: 30%;
   margin: auto;
}

.hr-1, .hr-2 {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
  
}

.btn {
    display: inline-block;
    padding: 5px 25px 10px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #11999E;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 10px; 
  }
  
  .btn:hover {background-color: #31e437}
  
  .btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #650;
    transform: translateY(4px);
  }

.footer-link {
    color: #0d7175;
    padding: 10px;
}

.footer-signature {
    color: white;
    margin-top: 5px;
}

.footer-social {
    color: white;
}


    
